<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DataPath" value="..\..\Data\data.csv"/>
		<add key="NotesDataPath" value="..\..\Data\notes.csv"/>
		<add key="PhoneBookDataPath" value="..\..\Data\phonebook.csv"/>
		<add key="ReminderDataPath" value="..\..\Data\reminders.csv"/>
	</appSettings>
</configuration>